html {
    font-family: Georgia;
    font-size: 100%;
}
body{
    background-color:rgb(71, 0, 119);
}
h1 {
    color:rgb(255, 217, 0);
    font-weight: normal;
}
p {
    font-size: 1.15rem;
    color: rgb(255,255,255);
    font-family:  Arial, sans-serif;
}
a {
    color:rgb(255,69,0);
    font-family: 'Courier New', Courier, monospace;
}
img {
    width: 10rem;
}
.roman {
    color: red;
    font-family: Helvetica;
}
.highlighted {
    background-color: yellow;
    color: black;
}