html {
    font-family: Georgia;
    font-size: 100%;
}
body{
    background-color:#0e0B16;
}
header {
    color:rgb(#4717f6);
    font-weight: normal;
}
p {
    font-size: 1.15rem;
    color: #e7dfdd;
    font-family:  Arial, sans-serif;
}
a {

}
img {
    width: 10rem;
}
.highlighted {
    background-color: yellow;
    color: black;
}